<br><br><br><br>
<%= form_for(@query, :html => { :class => "form-search"}) do |f| %>
    <h1 onload="initialize()" id="loc_repr">Talk to Me in... </h1>
    <br>
    <% if @query.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>

        <ul>
        <% @query.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :city_location %>
    <%= f.hidden_field :geo_lat %>
    <%= f.hidden_field :geo_lng %>
    <div class="input-append">
        <%= f.text_field :text, :placeholder => "ex: How do I get out of a speeding ticket", :class => "input-xlarge" %><button type="submit" class= "btn", id="btn_query_create">?</button>
    </div>
<% end %>
<br><br><br><br>
<br><br><br>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var geocoder;
        geocoder = new google.maps.Geocoder();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
        }
        //Get the latitude and the longitude;
        function successFunction(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            codeLatLng(lat, lng)
        }

        function errorFunction() {
            alert("Geocoder failed");
            $("#query_city_location").val("failsville");           
            var prev = $("#loc_repr").html();
            $("#loc_repr").html("the United States");
        }

        function initialize() {
        }

        function codeLatLng(lat, lng) {
            $("#query_geo_lat").val(lat);
            $("#query_geo_lng").val(lng);
            var latlng = new google.maps.LatLng(lat, lng);
            geocoder.geocode({
                'latLng': latlng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    console.log(JSON.stringify(results))
                    if (results[1]) {
                      //alert(JSON.stringify(results));
                        //formatted address
                        //alert("fromatted ADDRESS "+results[0].formatted_address);
                        //find country name
                        for (var i = 0; i < results[0].address_components.length; i++) {
                            for (var b = 0; b < results[0].address_components[i].types.length; b++) {
                                //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                                var l = results[0].address_components[i].types[b];
                                if (l == "locality") {
                                    //this is the object you are looking for
                                    city = results[0].address_components[i];
                                    break;
                                }
                            }
                        }
                        //city data
                        //alert("CITY DATA:"+city.short_name + " " + city.long_name);
                        var prev = $("#loc_repr").html();
                        $("#loc_repr").html(prev + city.long_name);
                        $("#query_city_location").val(city.long_name);
                    } else {
                        alert("No results found");
                    }
                } else {
                    alert("Geocoder failed due to: " + status);
                }
            });
        }
    });
</script>