<%= link_to "Talk to Me", root_path, :class => 'brand' %>
<ul class="nav">
  <% if true %>
    <li>
      <%= link_to "Home1", root_path, :class => 'brand' %>      
    </li>
  <% else %>
    <li>
    <%= link_to "Home2", root_path, :class => 'brand' %>
    </li>
  <% end %>
  <% if true %>
    <li>
    <%= link_to "Home3", root_path, :class => 'brand' %>
    </li>
  <% else %>
    <li>
   <%= link_to "Home4", root_path, :class => 'brand' %>
    </li>
  <% end %>
</ul>